/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;

  background-color: $color-default-text;
  color: $color-white-text;
  text-align: center;
  //padding: $box-default-padding;
  font-size: 0.8em;
  //min-height: $footer-phone-height;

  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;

    p.text-muted{
      margin: 20px 0;
      color: $color-primary;

      a{
        color: $color-primary;
      }
    }
  }
}