#header {
  &> nav {
    background-color: $color-content-background;
    border-bottom: $border-default;
    margin: 0;

    .menu-button {
      margin: 0 0.5em;
      padding: 0;
      color: $color-link-default;
      &:hover {
        .fa {
          color: $color-link-hover;
        }
      }
    }

    #header-title {
      h1 {

        overflow: auto;

        button {

          &.navbar-toggle {
            float: none;

            @include media_max(tablet) {
              display: inline-block;
            }
          }

        }

        #tecnologias{

          display: inline;

          > div{
            text-align: center;
          }

          .tecnologia, #titulo-aplicacion{
            display: inline-block;
          }

          #titulo-aplicacion{
            a{
              color: $color-titulo-aplicacion;
              &:hover, &:focus{
                text-decoration: none;
              }
            }
          }

          .tecnologia{
            img{
              width: 50px;
            }
          }
        }
      }

      h2, h3 {

        margin-top: 10px;

        button {

          &.navbar-toggle {
            float: none;

            @include media_max(tablet) {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}