#main {

  overflow: auto;

  #content{
    background-color: $color-body-background;
    width: 100%;
    border-left: $border-default;

    @include media_min(desktop){
      width: calc( 100% - #{$vnav-vnav-ancho});
    }

    .content-wrapper{

      padding: 2.5em;

      #general{
        h1{
          font-size: 38px;
          margin-top: 0;
        }

        h1,h2,h3,h4{
          font-weight: 300;
        }

        img.tecnologia-titulo{
          width: 35px;
          margin-top: -5px;
        }

        p{
          text-indent: 40px;
          text-align: justify;
        }

        pre{
          white-space: pre-wrap;
        }
      }
    }

  }
}