#menu{

  width: 40%;

  @include media_max(phone); @include media_max(tablet){
    top: 0;
    overflow-y: auto;
    position: fixed;
    z-index: 60;
    height: 100vh;
    overflow-x: hidden;
  }

  @include media_min(tablet){
    width: $vnav-vnav-ancho;
  }

  &.hide-menu {

    -webkit-transition: margin 0.4s;
    transition: margin 0.4s;

    @include media_max(tablet){
      margin-left: -100vw;
      display: block !important;
    }
  }

  &:not(.hide-menu){
    #vertical{
      z-index: 30;
    }
  }

  &:not(.hide-menu) + .toggle-menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 20;
  }

  padding: 3px;

  background-color: $color-white-text;
  border-radius: 0;

  -webkit-transition: margin 0.4s;
  transition: margin 0.4s;

  #vertical{

    .separador-tecnologias{
      margin-top: 7px;
      margin-bottom: 7px;
    }

    div {

      border: 0;
      border-radius: 0;

    }

    uib-accordion{

      div.panel-group{

        margin-bottom: 0;

        div.panel-default{

          box-shadow: none;

          div.panel-heading{

            padding: 0;

            background-color: $color-primary;

            h4.panel-title{
              a{

                border-radius: 4px;

                padding: 0;

                display: block;

                color: $color-vnav;

                &:hover, &:focus{
                  text-decoration: none;
                  outline: none;
                }

                span{
                  &.text-muted{
                    color: $color-vnav;
                  }

                  div{

                    &.first-level{
                      a{
                        padding: 10px 15px 10px;
                      }
                    }

                    &.second-level{
                      a{
                        padding: 10px 30px 10px;
                      }
                    }

                    a{
                      &.active{
                        background-color: $color-vnav;
                        color: $color-primary;
                      }
                    }
                  }
                }

              }
            }
          }

          div.panel-collapse{

            pading: 0;

            div.panel-body{
              padding: 0;

            }
          }
        }
      }
    }
  }

  a{
    font-family: $vnav-textos-fuente;
  }

  @include media_max(tablet){
    border-right: $vnav-vnav-borderDerecho;
  }

}