<h1>
    Sass
</h1>
<p>
    Esta aplicación consta de una única hoja de estilos, la cual es generada de forma dinámica mediante <b>Sass</b> en tiempo de
    compilación a partir de muchas otras hojas de estilos específicas.
</p>
<p>
    Un aspecto fundamental de una aplicación web es el diseño. Sin embargo, resulta muy complicado mantener y modificar la maquetación
    de una aplicación web sólo con <b>CSS</b>.
</p>
<p>
    Para eso están los preprocesadores como <b>Sass</b>. Gracias a esta herramienta podemos definir variables, definir los
    estilos de una pantalla en forma de árbol anidando los selectores, añadir las media queries mediante funciones...
    En definitiva, podremos realizar una buena maquetación con una cantidad de líneas de código bastante inferior y centralizando
    muchísimos valores, evitando así código duplicado.
</p>
<p>
    xoxComentar brevemente la estructura de carpetas en las que se encuentran las hojas de estilo.
</p>