// Reemplazo de clases de bootstrap
.btn {
  border-radius: 0;
  font-size: $font-default-size;

  &:hover {
    cursor: pointer;

    .fa {
      color: $color-primary;
    }
  }

  &:focus {
    color: $color-link-default;
  }

  &:active {
    box-shadow: none;
  }

  &.btn-bordered {
    border: 1px solid $color-secondary;
    background-color: $color-primary;
    color: $color-secondary;

    .fa {
      margin-right: 0.5em;
      margin-top: 0.1em;
    }

    &:hover, &:focus {
      border-color: $color-secondary-inverted;
      background-color: $color-secondary-inverted;
      color: $color-primary;

      .fa {
        color: $color-primary;
      }
    }
  }
}