<h1>
    AngularJS
    <img data-ng-src="{{angular.logo}}" class="tecnologia-titulo img-rounded"/>
</h1>
<p>
    El Front-End de esta aplicación web está desarrollado al completo con AngularJS.
</p>
<p>
    AngularJS es una tecnología que aprendí durante en mi último curso en mis estudios del Grado en Ingeniería
    Informática - Ingeniería del Software de la Universidad de Sevilla, en concreto durante mi TFG (Trabajo de Fin de
    Grado). Desde entonces, siempre he intentado utilizar esta tecnología en mis proyectos propios para, así, poder
    perfeccionar mis conocimientos en Desarrollo Front-End y ahondar en distintas partes de AngularJS según la
    temática de la aplicación.
</p>