<!-- Tecnologias de Integracion Continua -->
<uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="vnav.open.ci">
        <uib-accordion-heading>
            <div class="first-level">

                <a>
                    Tecnologías CI
                    <i
                            class="pull-right glyphicon"
                            data-ng-class="{
                    'glyphicon-menu-down': vnav.open.ci,
                    'glyphicon-menu-right': !vnav.open.ci
                }">
                    </i>
                </a>
            </div>

        </uib-accordion-heading>
        <!-- Tecnologias CI -->
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('brunch')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('brunch')}}">
                            Brunch
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('npm')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('npm')}}">
                            NPM
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('bower')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('bower')}}">
                            Bower
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('sass')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('sass')}}">
                            Sass
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('angularjs')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('angularjs')}}">
                            AngularJS
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('jshint')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('jshint')}}">
                            JSHint
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('ngdocs')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('ngdocs')}}">
                            ngdocs
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('heroku')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('heroku')}}">
                            Heroku
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
        </uib-accordion>
    </div>
</uib-accordion>

<hr class="separador-tecnologias"/>

<!-- Tecnologias Extra -->
<uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="vnav.open.et">
        <uib-accordion-heading>
            <div class="first-level">

                <a>
                    Tecnologías Extra
                    <i
                            class="pull-right glyphicon"
                            data-ng-class="{
                                'glyphicon-menu-down': vnav.open.et,
                                'glyphicon-menu-right': !vnav.open.et
                            }">
                    </i>
                </a>
            </div>

        </uib-accordion-heading>
        <!-- Tecnologias ET -->
        <uib-accordion>
            <div uib-accordion-group class="panel-default" is-disabled="true">
                <uib-accordion-heading>
                    <div class="second-level">
                        <a data-ng-class="{
                            'active': general.getActualState() === general.getStateNameByScreen('node')
                        }" data-ng-click="$event.stopPropagation()" data-ng-href="{{general.getURLByScreenName('node')}}">
                            NodeJS
                        </a>
                    </div>
                </uib-accordion-heading>
            </div>
        </uib-accordion>
    </div>
</uib-accordion>