<ul id="right-menu-header" class="nav nav-pills pull-right hidden-xs">
    <li>
        <a data-ng-bind="::general.getLiteral('gen.Aplicacion.Recursos.ayuda')"></a>
    </li>
    <li data-ng-if="hnav.idiomas.length" id="header-idiomas" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-ng-if="hnav.idiomas.length > 0" data-ng-bind-html="hnav.idiomaActivo()">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu triangle-left">
            <li data-ng-repeat="idioma in hnav.idiomas | filter:{blndefecto:false}">
                <a class="menuitem" href="" data-ng-click="hnav.cambiarIdioma(idioma.numididioma)" data-ng-bind="idioma.strnombre"></a>
            </li>
        </ul>
    </li>
    <li>
        <a>
            <i class="fa fa-bell-slash-o fa-fw text-center" aria-hidden="true"></i>
        </a>
    </li>
    <li id="header-perfil" class="dropdown" data-ng-if="hnav.perfil" data-ng-cloak>
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
            {{::hnav.nombreCompleto}}
            <span class='fa fa-angle-down'></span>
        </a>
        <div class="dropdown-menu triangle-right dropdown-menu-right menu-perfil">
            <div>
                <p>
                    <span data-ng-bind="hnav.perfil.registro.strnombrecompleto"></span>
                    <br/>
                    <a href="mailto:{{hnav.perfil.registro.stremail}}" target="_top" data-ng-bind="hnav.perfil.registro.stremail"></a>
                </p>
                <a data-ng-if="permisos.modificarPerfil" class="btn btn-normal" ui-sref="cuenta.perfil" data-ng-bind="::general.getLiteral('gen.Usuario.Perfiles.Perfil.modificarperfil')"></a>
                <p data-ng-bind="::general.getLiteral('gen.Usuario.Perfiles.Perfil.cambiarcuenta')"></p>
            </div>
            <div>
                <a class="btn btn-normal" data-ng-click="hnav.logOut()" data-ng-bind="::general.getLiteral('gen.Usuario.Perfiles.Perfil.cerrarsesion')"></a>
            </div>
        </div>
    </li>
</ul>