<h1>Bienvenido a CIDA: Continuous Integration Demo App</h1>

<p>Ésta es una aplicación web que he creado para poner en práctica tecnologías relacionadas con la Integración Continua,
    además de otras tantas relacionadas con el Desarrollo Ágil de aplicaciones Web en lenguaje JavaScript.</p>

<p>En el lado de las tecnologías para la Integración Continua, las que han motivado el desarrollo de esta aplicación web, tenemos: </p>
<ul>
    <li>
        <a ui-sref="brunch">Brunch</a>
    </li>
    <li>
        <a ui-sref="npm">NPM</a>
    </li>
    <li>
        <a ui-sref="bower">Bower</a>
    </li>
    <li>
        <a ui-sref="sass">Sass</a>
    </li>
    <li>
        <a ui-sref="angular">AngularJS</a>
    </li>
    <li>
        <a ui-sref="ngdocs">ng-docs</a>
    </li>
</ul>

<p/>
<p>Aprovechando la ocasión he introducido una serie de tecnologías con las que deseaba experimentar en esta tipo de Arquitecturas. 
    Dichas tecnologías son:</p>
<ul>
    <li>
        <a ui-sref=""></a>
    </li>
</ul>
